
html,
body {
    overflow-x: hidden;
}

p {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #A9A0B5;
}

h2, h3, h4 {
font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 70px;
text-align: center;
color: #F6E9E9 !important;
}


body {
    background-color: #A9A0B5 !important ;
}

h1 {
font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 88px !important;
line-height: 110px;
}

section {
    padding-bottom: 146px;
}

/* NAVBAR */

.nav-content {
    margin-bottom: 96px;
    width: fit-content;
    padding: 12px 152px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 92px;
    background-color: #A9A0B5;
    color: #F6E9E9;
    border-radius: 46px;
    z-index: 1;
}





.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 56px;
    height: 100%;
    
}

.nav-link {
    text-decoration: none;
    color: unset;
}

.bg-img {
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-mobile {
    display: none;
}

.navbar_toggler {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_toggler span {
    position: absolute;
    width: 32px;
    height: 4px;
    background: #F6E9E9;
    border-radius: 2px;
    transition: 0.3s ease;
}

.navbar_toggler span:nth-child(1) {
  transform: translateY(-10px);
}

/* Средняя */
.navbar_toggler span:nth-child(2) {
  transform: translateY(0);
}

/* Нижняя */
.navbar_toggler span:nth-child(3) {
  transform: translateY(10px);
}

/* Анимация в крестик */
.navbar_toggler.active span:nth-child(1) {
  transform: rotate(45deg);
}

.navbar_toggler.active span:nth-child(2) {
  opacity: 0;
}

.navbar_toggler.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.collapse {
    background-color: #f6e9e956;
    border-radius: 34px;
    color: #f8f2f2;
    display: block !important;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition:
    max-height 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;

}

.collapse.show {
    max-height: 500px;

    opacity: 1;
    transform: translateY(0);
    display: flex !important;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.collapsing {
    transition: none !important;
    height: auto !important;
}

/* HERO SECTION */
.hero-content {
    position: relative;
    color: #A9A0B5 ;
}

.btn-link {
    color: #A9A0B5 !important;
    text-decoration: none !important;
    padding: 12px 102px;
    border: #A9A0B5 1px solid;
    border-radius: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}

/* ABOUT */
.about {
    margin-top: 200px;
    background-color: #F6E9E9;
    position: relative;
    z-index: 1;
    border-radius: 138px;
}

.about-content {
    display: flex;
    padding-top: 96px ;
    align-items: center;
    justify-content: center;
}

.about-card {
    width: fit-content;
    padding: 48px 62px;
    border: #A9A0B5 4px dashed;
    border-radius: 34px;
}

.about-card h3{
        color:  #A9A0B5 !important;
    }

.about-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 82px;
}

.about-right { 
    height: 100%;
    max-width: 526px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-bottom {
    display: flex;
    justify-content: center;
}

.btn-vector {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


/* Галерея */

.card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 36px 0;
}

.cards {
    width: 100%;
    margin-top: 36px;
}

.cards-slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-list {
    display: flex;
    gap: 32px;

    width: max-content;

    list-style: none;
    padding: 0;
    margin: 0;

    animation: scrollCards 35s linear infinite;
    animation-delay: -10s; }


.card-list:hover {
    animation-play-state: paused;
}

.card-point {
    position: relative;
    width: 322px;
    height: 322px;
    border-radius: 32px;
    overflow: hidden;
    flex-shrink: 0;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.3s ease;
}

.card-point:hover .card-img {
    transform: scale(1.05);
}

.card-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.card-description p {
    color: #f6e9e9;
}

.card-point:hover .card-description {
    transform: translateY(0);
}

@keyframes scrollCards {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


/* Карусель по середине */

.card-list-sxem {
    animation: scrollRight 35s linear infinite !important;
}

.card-list-sxem:hover {
    animation-play-state: paused !important;
}

@keyframes scrollRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}


/* Секция мастеркласс*/

.master-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.master-col {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.master-card {
    height: 324px;
    width: 496px;
    text-align: left;
}

.master-card-img {
    border-radius: 34px;
    overflow: hidden;
}

.master-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;     
    object-position: center; 
}

.master-card-text {
    background-color: #f6e9e9;
    border-radius: 34px;
    padding: 24px;
}

 .master-card-text-mobile {
    display: none;
 }
/*форма*/

.form-box {
    background-color: #f6e9e9;
    border: #F6E9E9 2px solid;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    height: fit-content;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    border-radius: 34px;
    overflow: hidden
}

.form-right {
    width: 40%;
    overflow: hidden
}

.form-right img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block;
}

.form-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-left h3 {
    color: #56496c !important;
}

.field {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #56496c;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color:#A9A0B5;
}

.error {
    display: none;
    color: #d93025;
    font-size: 13px;
    margin-top: 5px;
}

input:invalid:not(:placeholder-shown) {
    border-color: #d93025;
}

input:invalid:not(:placeholder-shown) + .error {
    display: block;
}

input:valid:not(:placeholder-shown) {
    border-color: #bb93d8;
}

.form-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #d2a7bf;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form-btn:hover {
    background: #611a50;
    color: #f6e9e9;
}

#success-message {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: #a482a6;
    color: #fdf8ff;
    text-align: center;
    font-weight: bold;
}


/* FOOTER */

footer {
    padding-top: 64px;
    background-color: #f6e9e9;
    border-radius: 24px 24px 0 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 32px;
    padding-bottom: 46px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 64px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
}

.footer-point {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #A9A0B5;
text-align: left;
}

@media (max-width: 992px) {

    section {
        padding-bottom: 80px;
    }

    /* Текст */

    h1 {
        font-size: 52px !important;
        line-height: 62px;
        text-align: center;
    }

    h2,
    h3,
    h4 {
        font-size: 38px;
        line-height: 46px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    /* Навигация */

    .nav-content {
        display: none;
    }

    .nav-mobile {
        display: block;
        padding-top: 20px;
    }

    .nav-mobile-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo-mobile {
    width: 60px;
    height: auto;
    }

    .collapse .nav-list {
        flex-direction: column;
        gap: 20px;
    }

    /* Hero */

    .hero-content {
        text-align: center;
        padding-top: 40px;
        color: #F6E9E9;
    }

    .btn-link {
    color:  #F6E9E9 !important;
    text-decoration: none !important;
    padding: 12px 102px;
    border: #F6E9E9  1px solid;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    }

    .btn-link {
        display: inline-block;
        padding: 14px 36px;
        font-size: 16px;
    }

    /* About */

    .about {
        margin-top: 80px;
        border-radius: 40px;
    }

    .about-content{
        color: #A9A0B5 !important;
    }
    .about-card {
        padding: 24px;
    }

    .about-card h3{
        color:  #A9A0B5 !important;
    }
    .about-top {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }

    .about-left img {
        width: 220px;
        max-width: 100%;
    }

    .about-right {
        max-width: 100%;
        gap: 4px;
    }

    /* Галерея */

    .card-content {
        gap: 60px;
    }

    .card-point {
        width: 250px;
        height: 250px;
    }

    .card-point-poftor {
        display: none;
    }

    .card-list {
        animation: none !important;
        overflow-x: auto;
        width: 100%;
        padding-bottom: 10px;
        scrollbar-width: none;
    }

    .card-list::-webkit-scrollbar {
        display: none;
    }

    /* Мастер-класс */

    .master-content {
        flex-direction: column;
        align-items: center;
    }

    .master-col {
        width: 100%;
    }

    .master-card {
        width: 100%;
        height: auto;
    }

    .master-card-img {
        display: none;
    }

    .master-card-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .master-col {
    display: flex;
    flex-direction: column;
    gap: 24px;
    }

    .master-card-text {
        display: none;
    }

    .master-card-text-mobile {
        display: block;
        background-color: #f6e9e9;
        border-radius: 34px;
        padding: 24px;
    }

    .master-card-text-mobile span {
        color: #e781ed;
        font-weight:bold;
    }
    /* Форма */

    .form-box {
        flex-direction: column;
    }

   .form-right {
        display: none;
    }

    .form-left {
        width: 100%;
        padding: 30px;
    }

    form {
        width: 100%;
    }

    /* Футер */

    .footer-top {
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }

    .footer-point {
        font-size: 16px;
        line-height: 22px;
    }

    .footer-bottom img {
        width: 200px;
    }

    /* Фоновая картинка */

    .bg-img {
        opacity: 0.15;
    }

     .container,
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cards-slider {
        overflow: visible;
    }

    .card-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        animation: none !important;

        width: 100%;
        gap: 16px;

        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .card-list::-webkit-scrollbar {
        display: none;
    }

    .card-point {
        flex: 0 0 250px;
    }

    .card-list {
        width: auto;
    }
    

}